.header{
    display: flex;
    justify-content: center;
}
@media (max-width: 900px){
    .header{
        overflow-x: hidden;
    }
    .header img{
        width: 375px;
        height: 48px;
    }
}
